.wrapper {
  padding: 0;
}

#q {
  font-family: "Galada", cursive;
}

.landing {
  background: url("../assets/banner.png") no-repeat center;
  background-size: cover;
  height: 100vh;

  ::-webkit-input-placeholder {
    font-family: "Rubik", sans-serif;
  }

  #countdown {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
  }

  .sign-up-button {
    background: #000051;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 5px;
  }

  .sign-up {
    margin-top: 90px;

    input {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .content {
    padding-left: 40px;
    padding-top: 50px;
    color: white;
  }
}

.introduction,
.be-curious,
.be-heard,
.be-together {
  background: url("../assets/yellow-bg-2.jpg") no-repeat center;
  background-size: cover;
  height: 100%;

  li {
    list-style: none;
  }
}

.introduction {
  padding-bottom: 100px;
  height: 100%;

  #title-Q {
    font-family: "Simonetta", cursive;
    letter-spacing: 1px;
    color: #000051;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #title-rest {
    font-family: "Spectral SC", serif;
    letter-spacing: 1px;
    color: #000051;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #000051;
  }

  .container {
    background-color: rgba(250, 250, 250, 0.95);
    padding: 25px;
  }

  .icons-with-headline {
    margin-top: 10px !important;
  }
}

.services {
  padding: 50px;

  .fas,
  .far {
    font-size: 30px;
    padding: 20px;
  }

  .headline {
    font-size: 24px;
    font-weight: bold;
  }
}

.be-curious,
.be-heard,
.be-together {
  padding: 50px 50px 0px 50px;
  margin-bottom: -22px;

  h5 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  ul {
    font-size: 25px;
  }

  img {
    width: 500px;
  }

  .section-title {
    margin-bottom: 20px;
    span {
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.05em;
    }
  }

  .section-info {
    padding-top: 50px;
  }

  .card {
    background: rgba(250, 250, 250, 0.7) !important;
  }
}

.be-curious {
  margin-bottom: -28px;
}

.quote,
.quote-2 {
  background-color: #000051;
  padding: 100px;
  color: #fafafa;
  font-family: "Rubik", sans-serif;

  h3 {
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0.05em;
  }
  span {
    font-size: 22px;
  }
}

.contact-us {
  background-image: url("../assets/contact-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

footer {
  padding-top: 30px;
  .social {
    ul {
      list-style: none;
      li {
        display: inline;
        padding-right: 10px;
        i {
          font-size: 25px;
        }
      }
    }
  }

  .fa-twitter {
    color: #00acee;
  }

  .fa-facebook {
    color: #3b5998;
  }

  .fa-linkedin {
    color: #0e76a8;
  }

  .fa-instagram {
    color: #f77737;
  }

  .fa-youtube {
    color: #c4302b;
  }
}

@media (max-width: 480px) {
  .landing {
    .introducing {
      font-size: 40px;
    }
    .content {
      padding-left: 10px;
      color: white;
    }
    .sign-up-button {
      width: 100%;
    }
  }

  .introduction {
    padding: 50px 5px;

    h3 {
      font-size: 20px;
    }

    img {
      height: 50px;
      width: 50px;
    }

    .container {
      background-color: rgba(250, 250, 250, 0.95);
      padding: 5px;
    }

    .icons-with-headline {
      margin-top: 2px !important;
    }

    #title-Q {
      font-size: 75px;
    }

    #title-rest {
      font-size: 75px;
    }
  }

  .services {
    padding: 5px 50px;
    .row {
      text-align: left;
    }
  }

  .be-curious,
  .be-heard,
  .be-together {
    padding: 20px;
    margin-bottom: 0px;

    h5 {
      font-size: 14px;
    }

    h3 {
      font-size: 18px;
    }

    ul {
      font-size: 16px;
    }

    img {
      width: 100%;
    }

    .section-title {
      margin-bottom: 0px;
      span {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 0.05em;
      }
    }

    .section-info {
      padding-top: 10px;
    }
  }

  .be-heard {
    .card {
      margin-top: -27px;
    }
  }

  .be-curious {
    .card {
      margin-top: -32px;
    }
  }

  .be-together {
    .card {
      margin-top: -28px;
    }
  }

  .quote,
  .quote-2 {
    padding: 10px;
    h3 {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.05em;
    }
    span {
      font-size: 16px;
    }
  }

  .contact-us {
    padding: 20px;

    h2 {
      font-size: 18px;
    }
  }
}
